# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Generate List CI

on:
  workflow_dispatch:
    branches:
      - main
  schedule:
    - cron: '0 1 * * *'

permissions:
  id-token: write
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Configure git identity
        run: |
          git config user.email "${{ secrets.GIT_USER_EMAIL }}"
          git config user.name "${{ secrets.GIT_USER_NAME }}"

      - run: npm ci
      - run: npm run generate
      - run: npm run build

      - name: Commit if changed
        run: |
          git add .
          if git diff --staged --quiet; then
            echo "No changes to commit."
            exit 0
          fi
          git commit -m "feat: generate new TLD list"

      - name: Release
        run: npm run release

      - name: Push commit + tags
        run: git push --follow-tags

      - name: Publish to npm
        run: npm publish
        env:
          CI: true
