# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Generate List CI

on:
  workflow_dispatch:
    branches:
      - main
  schedule:
    - cron: '0 1 * * *'

permissions:
  id-token: write
  contents: read

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Generate List & Publish
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - run: |
          git config user.email "${{ secrets.GIT_USER_EMAIL }}"
          git config user.name "${{ secrets.GIT_USER_NAME }}"
      - run: npm ci
      - run: npm run generate
      - run: npm run build
      - run: git add .
      - run: "git diff --quiet && git diff --staged --quiet || git commit -m 'feat: generate new TLD list'"
      - run: npm run release
      - run: git push --follow-tags
      - run: npm publish
        env:
          CI: true
